# ParamparaChain Backend Environment Variables

# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb_uri

# JWT
JWT_SECRET=parampara_jwt_secret_change_in_production
JWT_EXPIRES_IN=7d

# Pinata (IPFS)
PINATA_API_KEY=your_pinata_api_key
PINATA_SECRET_KEY=your_pinata_secret_key
PINATA_GATEWAY=https://gateway.pinata.cloud/ipfs/
PINATA_JWT=

# Fabric API Bridge
FABRIC_GATEWAY_URL=http://localhost:4000/api
FABRIC_CHANNEL_NAME=supplychain-channel
FABRIC_CHAINCODE_NAME=supplychain

# Token Value
PT_VALUE_INR=10